

body {
    margin: 0;
    text-align: center;
}

.sub {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 61.5px;
    color: rgba(255, 255, 255, 0.55);
}

.copy {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.4);
}

.copy a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
}

.socials li {
    display: inline-block;
    margin: 0 12px;
}

.socials img {
    width: 28px;
    height: 23px;
}

.socials ul {
    list-style: none;
    padding-left: 0;
}

@media (max-width: 480px) {
    body {
        background: url("../imgs/mob.png");
    }

    .logoH {
        display: none;
    }

    .buttons {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
    }

    .btn img {
        margin-right: 17px;
        width: 280px;
    }

    .chat {
        margin-left: 62px;
    }

    .loja {
        padding-top: 22px;
    }

    .vip {
        padding-top: 8.3px;
    }

    .logo img {
        margin: 17% 0 auto;
        width: 200px;
    }

    .buttonsD {
        display: none;
    }
    
    .copy {
        position: absolute;
        bottom: 1px;
        margin-left: 5%;
    }
}

@media (min-width: 480px) {

    body {
        background: url("../imgs/desk.png");
        background-size: cover;
    }

    .logo {
        display: none;
    }

    .logoH {
        width: 254.6px;
        margin: 100.5px auto;
    }

    .buttons {
        margin-top: 33.5px;
        /* margin-left: 15.7%; */
        justify-content: center;
        display: flex;
        flex-direction: row;
        width: 100vw;
        min-width: 100vw
    }

    .btn img {
        margin-right: 11.39px;
        width: 268px;
    }

    .chat {
        margin-left: 41.54px;
    }

    .loja {
        padding-top: 14.74px;
    }

    .vip {
        padding-top: 5.561px;
    }


    .socials {
        margin-top: 53.6px;
    }

    .socials li {
        margin: 0 8.04px;
    }

    .socials ul {
        margin-bottom: 8px;
    }

    .socials img {
        width: 24.12px;
        height: 17.42px;
    }

    .sub {
        margin-bottom: 53.6px;
        font-size: 10.72px;
    }

    .buttonsD {
        display: flex;
        flex-direction: row;
        position: absolute;
    }

    .btnD {
        opacity: 0;
    }

    .btnD:hover {
        opacity: 1;
    }
}
